<html>
<style>
body
{
    background-color: black;
    text-align: center;
}	
</style>	  
<head>
  <title>Sanic Example</title>
    <link rel="shortcut icon" type="image/png" href="https://cdn.discordapp.com/attachments/846370950677135420/876003918910459934/Dont_Ask_Who_Joe_Is___Joe_Mama_Meme_by_Barnyardy.jpeg"
</head>
<body text="white">
 <h1>Just a Sanic website by Afnan </h1>
  <br/>
 <img src="https://cdn.discordapp.com/attachments/846370950677135420/876003918910459934/Dont_Ask_Who_Joe_Is___Joe_Mama_Meme_by_Barnyardy.jpeg">
 <br/>
 <p>A Sanic TEMPLATE MADE BY AFNAN</p>
</body>
</html>
